<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4">

	<servlet>
		<servlet-name>Browse Servlet</servlet-name>
		<servlet-class>web.BrowseServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Browse Servlet</servlet-name>
		<url-pattern>/browse</url-pattern>
	</servlet-mapping>
</web-app>